body{
    background-color: whitesmoke;
}

.card-text{
    color: green;
    font-weight: 800;
    margin-left: 20px;
}

.card-title{
    font-weight: 900;
}

.card{
    border: 2px solid #000000;
    border-radius: 10px;
    box-shadow: 0 5px 5px 0 #696969;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    justify-content: center;
}

button.btn-success{
    border-radius: 5px;
    border: 0;
    margin-left: 10px;
}


ul.pagination{
    margin-top: 20px;
}

a.page-link{
    border: 2px solid black;
    font-weight: 700;
}

button{
    margin: 5px 10px 5px 10px;
    padding: 15px;
    
}

a>button{
    width: 80%;
}


nav{
    border-bottom: 2px solid black;
    box-shadow: 0 0 5px 0 #696969;
}